  <button type="button" name="button" {{action 'showMap' owner}} class="btn btn-default btn-lg">Show Map</button>
  {{#if currentUser.client.address}}
    <button {{action 'showMapDirections' owner}} class="btn btn-default btn-lg">Show Directions</button>
  {{/if}}

<div class="map-display"></div>
