{{log currentUser.client}}
<h2>Total: {{shoppingCart.subTotal}}</h2>
<div class="row">
  <div class="col-md-8">
    <ul class="list-group">
      {{#each owner.sellingHistory as |item|}}
        {{item-tile class="list-group-item" item=item notInCart=notInCart}}
      {{/each}}
    </ul>
  </div>
  <div class="col-md-4">
    {{#if (and (eq currentUser.client owner) currentUser.client.seller)}}
      {{add-item user=owner addItem="addStoreItem"}}
    {{/if}}
  </div>
</div>
