$blue: #666A86;
$blackish: #272932;
$tan: #FFE4BF;
$seafoam: #B2C9AB;
$offwhite: #EAFDF8;
$seafoamdark: #73826E;


.form-control {
  width: 80%;
}

img {
  max-width: 250px;
}

hr {
  border-top: 1px solid $offwhite;
}

body {
  background-color: $tan;
  color: $blackish;
  margin-bottom: 25px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: $blackish;
}

.jumbotron {
  text-align: center;
  background-color: $blackish;
  color: $seafoam;
}

.navbar, .navbar-default {
  margin-bottom: 0px;
  background-color: $blackish;
  color: $seafoam;
  border: none;
  border-bottom: $seafoam 1px solid;
  border-radius: 0px;
  .navbar-brand {
    color: $seafoam;
  }
  .navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active{
    color: $seafoamdark;
  }
  .navbar-nav {
    li {
      a {
        color: $seafoam;
      }
      a:hover, a:focus, a:active{
        color: $seafoamdark;
      }
    }
  }
}

.list-group-item, a.list-group-item, .list-group-item-heading, .list-group-item-text{
  background-color: $blackish;
  border-color: $offwhite;
  color: $seafoam;
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: $seafoam;
  }
}

.list-group-item-text {
  font-size: 125%;
}

a.list-group-item:hover {
  color: $blackish;
  background-color: $seafoam;
}

.form-control {
  background-color: $offwhite;
  border-color: $blue;
}

.btn {
  border-color: $blue;
}

.btn-default {
  background-color: $blue;
  color: $offwhite;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
  background-color: $blackish;
  color: $offwhite;
}

.clickable:hover {
  color: $seafoamdark;
  cursor: pointer;
}

.map-display {
    height: 600px;
    width: 600px;
  }
