<h2>Log In</h2>
{{model.currentUser.client.username}}
<div class="row">
  <div class="col-md-6">
    <h3>Buyer Sign In</h3>

  </div>
  <div class="col-md-6">
    <h3>Seller Sign In</h3>
    {{seller-sign-in signInSeller="signIn"}}
    <hr>
    {{seller-register createSeller="createSeller"}}
  </div>
</div>
